python-dotenv
langchain
langchain-google-genai
google-genai
tavily-python
pypdf 
langchain-community
langchain-text-splitters
chromadb
langchain-chroma
fastapi
uvicorn
markdown
xhtml2pdf 
streamlit
python-multipart
sqlalchemy
psycopg[binary]
alembic
pyjwt[crypto]
pwdlib[argon2]

passlib[bcrypt]
python-jose[cryptography]
email-validator

bcrypt==4.0.1
