python-dotenv
langchain
langchain-google-genai
google-genai
tavily
pypdf 
langchain-community
langchain-text-splitters
chromadb
langchain-chroma
reportlab
fastapi
uvicorn
markdown
weasyprint
xhtml2pdf 
streamlit

sqlalchemy
psycopg[binary]
alembic
pyjwt[crypto]
pwdlib[argon2]

passlib[bcrypt]
python-jose[cryptography]
email-validator